NODE_ENV=development
PORT=3000

PG_HOST=127.0.0.1
PG_PORT=5434
PG_USER=eventhub
PG_PASSWORD=eventhub
PG_DATABASE=eventhub
PG_POOL_MAX=10

JWT_ACCESS_SECRET=change-me-in-production
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=7
